name: jenkins-check-unit-tests-completion-lol

# The run of this job indicates that unit tests job run
# in Jenkins was successful
on:
  # pull_request:
  #   types:
  #     - opened
  #     - reopened
  workflow_dispatch:
  #repository_dispatch:
   # types:
    # - webhook

jobs:
  check:
    name: lol check
    runs-on: ubuntu-latest
    steps:
      - name: Check jenkins job completion
        run: |
          #!/bin/bash
          docker version
